@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /*Horizontal alignment*/
    justify-content: center; /*Requires height to be able to justify content (vertical center)*/
    height: 100vh; /*percentage of the current Viewport Height*/
    margin: 0;
}